/* Цвета */
/* основной цвет текста #434455 */
/* вторичный цвет текса #2E2F42 */
/* акцент   #4D5AE5 */
/* вторичный акцент #404BBF */
/* белый основной #F4F4FD */
/* белый вторичный #FFFFFF */
/* цвет фона страницы основной #FFFFFF */
/* цвет фона страницы вторичный #F4F4FD */

:root {
  /* ===Font=== */
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* ===Color=== */
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --primary-accent-color: #4d5ae5;
  --secondary-accent-color: #404bbf;
  --primary-white-color: #f4f4fd;
  --secondary-white-color: #ffffff;
  --primary-bgc: #ffffff;
  --secondary-bgc: #f4f4fd;
  --hero-bgc: #2e2f42;
  --border-main: #e7e9fc;
  --border-gray: #8e8f99;
  --bgc-icon-footer: #31d0aa;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --modal-window-color: #fcfcfc;
}

/* ================= Resetting styles =================== */

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* =================/Resetting styles==================== */

/* =================== COMPONENTS ======================= */

.logo {
  display: inline-block;

  font-family: var(--secondary-font);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-accent-color);

  margin-right: 76px;
}

.heading {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-text-color);

  margin-bottom: 72px;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin-bottom: 8px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.team-member {
  /* padding: 32px 16px; */
  padding: 32px 0;
  border-radius: 0px 0px 4px 4px;
}

/* =================== /COMPONENTS ======================== */

body {
  font-family: var(--primary-font);
  background-color: var(--primary-bgc);
  color: var(--primary-text-color);
}

/**
                                                   |============================
                                                   | Main-page
                                                   |============================
                                                 */

/* ===================== Top line ======================== */
.page-header {
  border-bottom: 1px solid var(--border-main);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-top {
  color: var(--secondary-text-color);
}

.menu-link {
  position: relative;

  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
}

.menu-link.current::after {
  background-color: var(--secondary-accent-color);
}
.menu-link.current {
  color: var(--secondary-accent-color);
}
.menu-link:hover,
.menu-link:focus {
  color: var(--secondary-accent-color);
}

.contact-info {
  font-style: normal;
  margin-left: auto;
}

.contact-details {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-details:hover,
.contact-details:focus {
  color: var(--secondary-accent-color);
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  gap: 40px;
}

.contact-list {
  display: flex;
  gap: 40px;
}

/* ================== /Top line ====================== */

/* ====================== Hero ======================= */

.hero {
  background-color: var(--hero-bgc);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background/hero-background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  max-width: 496px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;

  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secondary-white-color);
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--secondary-white-color);
  background-color: var(--primary-accent-color);
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-accent-color);
}

/* Modal window  */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--backdrop-color);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) scale(1);
  opacity: 1;

  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;

  background-color: var(--modal-window-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  opacity: 0;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;

  background-color: var(--border-main);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover {
  color: var(--primary-bgc);
  background-color: var(--secondary-accent-color);
}
.modal-icon {
  fill: currentColor;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-bgc);
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-box:nth-child(-n + 4) {
  margin-bottom: 8px;
}

.modal-form-box:nth-child(5) {
  margin-bottom: 10px;
}

.modal-form-box-desc {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-gray);
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--primary-accent-color);
}

.modal-form-messege {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-messege:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.modal-form-messege::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--backdrop-color);
}

.modal-check-swap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  color: var(--primary-white-color);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-icon {
  fill: currentColor;
}

.modal-form-check:checked + .modal-form-check-desc .modal-check-swap {
  background-color: var(--primary-accent-color);
}

/* Решение с псевдоэлементом befor */
/* .modal-form-check-desc::before {
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--primary-accent-color);
  background-image: url(../images/modal/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.modal-form-check:focus + .modal-form-check-desc::before {
  outline: 2px solid var(--primary-accent-color);
} */

.modal-form-check-desc {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--border-gray);
}

.modal-form-check-link {
  color: var(--primary-accent-color);
}

/* ===================== /Hero ========================= */

/* ==================== Studio features ================ */
.features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.features-item {
  display: block;
  width: calc((100% - 72px) / 4);
}

.icon-box {
  display: flex;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  margin-bottom: 8px;
  width: 264px;
  height: 112px;
  align-items: center;
  justify-content: center;
}
/* =================== /Studio features ================ */

/* =================== Work examples =================== */

.examples {
  padding-bottom: 120px;
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.examples-item {
  width: calc((100% - 48px) / 3);
}

/* ================== /Work examples =================== */

/* ====================== Team ========================= */

.team {
  background-color: var(--secondary-bgc);
  padding-bottom: 120px;
  padding-top: 120px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-item {
  width: calc((100% - 72px) / 4);
  background-color: var(--primary-bgc);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-title {
  text-align: center;
}

.team-text {
  text-align: center;
  margin-bottom: 8px;
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 40px;
  height: 40px; */
  width: 100%;
  height: 100%;

  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--secondary-accent-color);
}

.socials-icon {
  fill: currentColor;
}

/* ====================== /Team ======================== */

/* ==================== Customers ====================== */
.clients {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ДЛЯ АВТОПРОВЕРКИ (в heading 1.11)*/
.clients-title {
  line-height: 1.1;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.clients-item {
  display: flex;
  width: calc((100% - 120px) / 6);
  height: 88px;
  justify-content: center;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  color: var(--border-gray);
  border: 1px solid var(--border-gray);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--secondary-accent-color);
  color: var(--secondary-accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* ==================== Customers ====================== */

/* ================== Footer ========================= */
.footer {
  background-color: var(--secondary-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}

.logo-advert {
  margin-right: 120px;
}

.logo-bottom {
  color: var(--primary-white-color);
}

.footer .logo {
  margin-bottom: 16px;
  margin-right: 0;
}
.footer-text {
  color: var(--primary-white-color);
  width: 264px;
}

.social-box {
  margin-right: 80px;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bgc);
  margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-media-item {
  display: flex;
  width: 40px;
  height: 40px;
}

.social-media-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  background-color: var(--primary-accent-color);
  color: var(--primary-white-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: var(--bgc-icon-footer);
}

.social-media-icon {
  fill: currentColor;
}

.subscribe-text {
  margin-bottom: 16px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-bgc);
}

.subscribe-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-form-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  margin-right: 24px;

  border: 1px solid var(--primary-bgc);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: var(--hero-bgc);
  color: var(--primary-bgc);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-input:focus {
  outline: none;
  border-color: var(--primary-accent-color);
}

.subscribe-form-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--primary-bgc);
}

.subscribe-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
  width: 165px;
  height: 40px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--primary-accent-color);
  cursor: pointer;

  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-bgc);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--secondary-accent-color);
}

.subscribe-form-icon {
  fill: currentColor;
}

/* ================= /Footer ======================= */

/**
                                               |============================
                                               | Portfolio-page
                                               |============================
                                             */

/* ==================== Our projects ================ */

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 24px;
}

.filters-btn {
  display: block;
  padding: 12px 24px;
  border: 1px solid var(--border-main);
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-accent-color);
  background-color: var(--primary-white-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-btn:hover,
.filters-btn:focus {
  color: var(--secondary-white-color);
  background-color: var(--secondary-accent-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-link > .text {
  color: var(--primary-text-color);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.projects-list-item {
  width: calc((100% - 48px) / 3);
}

.projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--primary-accent-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover .overlay,
.projects-link:focus .overlay {
  transform: translateY(0);
}

.overlay-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}

.project-name {
  border: 1px solid var(--border-main);
  border-top: none;
  padding: 32px 16px;
}
/* ==================== /Our projects ================ */
